.red {
    border: 2px solid red;
}

.addProduct{
    width: 40%;
    margin: 0 auto;
}

#articles {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.article {
    border: 2px solid blue;
    width: 20%;
}

.info ul li span {
    padding-right: 25px;
}

.comment p {
    border: 2px solid rgb(17, 0, 255);
    border-radius: 30px;
    padding: 10px;
}

.replie {
    width: 80%;
    margin-left: auto;
}

.comment {
    border-bottom: 2px solid green;
}